# backend/requirements.txt

fastapi
uvicorn[standard]
python-dotenv
supabase
gotrue
python-multipart
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
PyJWT
passlib[bcrypt]
python-dateutil
pandas
openpyxl
httpx
